body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  background-color: black;
  display: flex;
  flex-direction: column; /* stack items vertically */
  justify-content: center; 
  align-items: center;
}
h1{
    color: rgb(235, 112, 167);
    font-family:"Rubik Puddles", system-ui;
    font-weight: 600;
    font-style: normal;

}
#display{
    margin-top: 2rem;
    background-color: #4d4a4b8e;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    padding:1rem;
    align-items: center;
    

}
#hint-image{
    max-width: 50%;
}
#content{
    max-width: 50%;
    
}
#answer{
    margin: 1rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: black;
    border: rgba(255, 255, 255, 0.826) 0.01rem solid;
    color: white;
}
#submit{
    border-radius: 0.9rem;
    padding: 0.5rem;
    background-color:rgba(154, 6, 31, 0.852);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
#submit:hover{
    background-color: rgb(154, 6, 31);;
}
h2{
    color:rgb(88, 231, 231);
    padding: 0.5rem;
}


#confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 999;
}

.confetti {
  position: absolute;
  width: 4px;
  height: 10px;
  background-color: red;
  animation: fall 0.5s linear forwards;
}

@keyframes fall {
  0% {
    transform: translateY(-10px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

#congrats{
    color: white;
    padding: 1rem;
}
#home{
    background-color: rgba(255, 255, 0, 0.727);
    padding: 0.4rem;
    border-radius: 0.7rem;
    border: none;
}
#home:hover{
    background-color: rgb(255, 255, 0);
}
#logic{
    padding: 1.2rem;
    border-radius: 10rem;
    background-color: rgba(0, 0, 0, 0);
    border:none;
}
#logic:hover{
    background: radial-gradient(circle,rgba(255, 255, 0, 0.721), rgba(255, 255, 0, 0.288),rgba(255, 255, 0, 0));
}