body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  background-color: black;
  display: flex;
  flex-direction: column; /* stack items vertically */
  justify-content: center; /* vertical center */
  align-items: center;
}
h1{
    color: rgb(243, 86, 157);
    font-family:"Rubik Puddles", system-ui;
}
#display{
    margin-top: 2rem;
    width: 90%;
    background-color: #4d4a4b38;
    display: grid;
    border-radius: 2rem;
    padding:1rem;
    grid-template-columns: 50% 50%;

}
#display div{
    font-size: 5rem;
    color:white;
    padding: 2rem;
    

}
#content{
    width: fit-content;
}
#answer{
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: black;
    border: rgba(255, 255, 255, 0.826) 0.01rem solid;
    color: white;
}
#submit{
    border-radius: 0.9rem;
    padding: 0.5rem;
    background-color:rgb(154, 6, 31);
    border: none;
    color: white;
    font-weight: bold;
}
h2{
    color:rgb(88, 231, 231);
}


#confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 999;
}

.confetti {
  position: absolute;
  width: 4px;
  height: 10px;
  background-color: red;
  animation: fall 0.5s linear forwards;
}

@keyframes fall {
  0% {
    transform: translateY(-10px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

#congrats{
    color: white;
    padding: 1rem;
}